-- Allow admins to update any profile
CREATE POLICY "Admins can update any profile" 
ON public.profiles 
FOR UPDATE 
USING ((SELECT role FROM public.profiles WHERE id = auth.uid()) = 'admin') 
WITH CHECK ((SELECT role FROM public.profiles WHERE id = auth.uid()) = 'admin');
